*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

#container{
    width: 40%;
    height: 600px;
    background-color: #f7d8d5;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundo1{
    width: 60%;
    height: 500px;
    background-color: #ffcac4;
    margin-top: 80px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

#fundo2{
    float: center;
    width: 320px;
    height: 350px;
    background-color: black;
    margin: 0px 50px
    
}